<div class="box">
    <div class="box-header">
      <h3 class="box-title">Lista de Usuários</h3>
    <a class="btn btn-sm btn-primary pull-right" [routerLink]="['/users/form']">Criar Novo</a>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Nascimento</th>
            <th>CPF</th>
            <th>UF</th>
            <th>Peso</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of page?.content">
            <td>{{user.name}}</td>
            <td>{{user.birth}}</td>
            <td>{{user.cpf}}</td>
            <td>{{user.uf}}</td>
            <td>{{user.weight}}</td>
            <td>
                <button class="btn btn-xs btn-danger" (click)= "delete(user.id)">Excluir</button>
                <a class="btn btn-xs btn-primary" [routerLink]="['/users', user.id, 'edit']">Editar</a>      
            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
